/node_modules
/vendor
.git
.gitignore
.env
.env.example
.env.backup
.phpunit.result.cache
docker-compose.yml
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.log
.DS_Store 